:root
{
  --section-padding: 1rem;
}

p
{
  font-size: 1.2em;
  text-align: justify;
}

.centered
{
  text-align: center;
}

img
{
  width: 70%;
  border-radius: 25%;
  display: block;
  margin: auto;
  padding-bottom: 12px;
}

hr
{
  background-color: #fdf6e3;
  height: 2px;
  width: 85%;
}

.logo
{
  color: #fdf6e3;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

section
{
  min-height: 100vh;
  overflow: hidden;
}

.sectionTitleLg
{
  display: none;
}

.whatIusedBox
{
  text-align: center;
  padding: 30px;
}

.contactText
{
  padding: 20px;
}

#aboutMe
{
  background-color: #002b36;
}

#experience
{
  background-color: rgb(42, 161, 152);
  background: linear-gradient(
    rgba(42, 161, 152, 0.90),
    rgba(42, 161, 152, 0.90)
  ),
  url('../images/winter.jpg') top center no-repeat fixed;
  background-size: cover;
}

#projects
{
  background-color: rgb(133, 153, 0);
  background: linear-gradient(
    rgba(133, 153, 0, 0.90),
    rgba(133, 153, 0, 0.90)
  ),
  url('../images/monorail.jpg') top center no-repeat fixed;
  background-size: cover;
}

#contact
{
  background-color: #1d1e21;
  min-height: 100vh;
}

#contact .row
{
  height: calc(100vh - (2 * var(--section-padding)));
}

.bubble
{
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
}

.bubble div
{
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 95px;
  width: 175px;
  border: solid 3px #fdf6e3;
  border-radius: 25px;
}

.bubble h3
{
  color: #fdf6e3;
  padding-top: 5px;
  font-size: 2em;
  font-weight: 700;
  font-family: Ubuntu;
}

.bubble h3.top-padding-smff
{
  padding-top: 25px;
}

.col-container
{
  display: table;
  width: 100%;
}

.project-col
{
  display: table-row;
  width: 66%;
}

.projectBox
{
  position: relative;
  border: solid 3px #fdf6e3;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 24px 5px;
}

.projectBox h3
{
  text-align: center;
}

.gitlab
{
  color: #fdf6e3;
  font-size: 1.4em;
  text-decoration: underline;
}

.gitlab-contact
{
  color: #fdf6e3;
  text-decoration: underline;
}

a:visited
{
  color: #fdf6e3;
}

a:hover
{
  color: #cb4b16;
}

.gitlabBox
{
  border: solid 3px #fdf6e3;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 16px auto;
  width: 80%;
}

.vertical-positioning
{
  top: 2%;
}

i
{
  color: #fdf6e3;
}

.i-GitLab
{
  margin-right: 30px;
}

.i-LinkedIn
{
  margin-left: 30px;
}

.icon-link:hover
{
  text-decoration: none;
}

.icon-link:hover i
{
  text-decoration: none;
  color: #b1ac9e;
}

.icon-container
{
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer
{
  height: auto;
  width: 100%;
  position: relative;
}

.footer-text
{
  position: absolute;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  bottom: 0;
}

/********************************** Navbar ***********************************/

html, body
{
  margin: 0;
  padding: 0;
  width: 100%;
}

body
{
  font-family: Quicksand;
}

nav
{
  top: 0;
  position: fixed;
  width: 100%;
}

nav a
{
  font-size: 18px;
  color: #fdf6e3;
}

nav a:hover
{
  text-shadow: 1px 0 #fdf6e3;
  letter-spacing:1px;
  font-weight:bold;
  color: #fdf6e3;
  text-decoration: none;
}

.menu-icon
{
  display: block;
}

/*****************************************************************************/

/******************************* Scrolling ***********************************/

*
{
  box-sizing: border-box;
  color: #fdf6e3;
}

/* Other styles */
section
{
  padding: var(--section-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fade in on scroll */
section h2
{
  opacity: 0;
  transition: all 1000ms;
}

section.is-visible h2
{
  opacity: 1;
  transform: scale(1.25);
}

/*****************************************************************************/

/****************************** Size Classes *********************************/

/* Small devices (landscape phones, >= 576px) */
@media(min-width: 576px)
{
  .menu-icon
  {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
  }

  .footer-text
  {
    text-align: center;
  }
}

/* Medium devices (tablets, >= 768px) */
@media (min-width: 768px)
{
    .logo
    {
      font-size: 48px;
    }

    .bubble
    {
      padding: 5px;
      text-align: center;
      word-wrap: break-word;
    }

    .bubble div
    {
      display: block;
      margin-right: auto;
      margin-left: auto;
      height: 180px;
      width: 180px;
      border: solid 3px #fdf6e3;
      border-radius: 50%;
      background-color: #fdf6e3;
    }

    .bubble h3
    {
      color: #2aa198;
      padding-top: 63px;
      font-size: 2.5em;
      font-weight: 700;
      font-family: Ubuntu;
    }

    .bubble h3.top-padding
    {
      padding-top: 42px;
    }

    .bubble h3.top-padding-smff
    {
      padding-top: 63px;
    }

    .bubble h3.size
    {
      font-size: 2.1em;
    }

    .bubble h3.ASP
    {
      padding-top: 50px;
      font-size: 2.2em;
    }

    .section-spacing
    {
      padding-top: 100px;
    }

    .projectBox
    {
      padding: 5px 0px;
      min-height: 300px;
    }

    .projectBox p
    {
      padding: 30px 20px 10px 20px;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      -ms-transform: translate(0, -50%);
    }

    .gitlabBox
    {
      width: 60%;
      margin-bottom: 100px;
    }

    .vertical-positioning
    {
      top: 12%;
    }

    .i-GitLab
    {
      margin-right: 50px;
    }

    .i-LinkedIn
    {
      margin-left: 50px;
    }
}

/* Large devices (desktops, >= 992px) */
@media (min-width: 992px)
{
  section
  {
    min-height: default;
  }

  .sectionTitleLg
  {
    display: inline;
  }

  .logo
  {
    font-size: 48px;
    margin-top: -80px;
    margin-bottom: 80px;
  }

  img
  {
    margin-top: 80px;
  }

  section h2
  {
    transition: all 2000ms;
  }

  .img-container, #wrapper
  {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
  }

  #wrapper td
  {
   vertical-align: middle;
   text-align: center;
  }

  .bubble
  {
    padding: 20px 20px;
  }

  .bubble div
  {
    height: 140px;
    width: 140px;
  }

  .bubble h3
  {
    color: #2aa198;
    padding-top: 63px;
    font-size: 2em;
    font-weight: 700;
    font-family: Ubuntu;
  }

  .bubble h3.top-padding-smff
  {
    padding-top: 48px;
  }

  .bubble h3.top-padding
  {
    padding-top: 33px;
  }

  .bubble h3.size
  {
    padding-top: 53px;
    font-size: 1.6em;
  }

  .bubble h3.ASP
  {
    padding-top: 45px;
    font-size: 1.6em;
  }

  .lg-bubblesBox
  {
    margin-top: 40px;
  }

  .whatIusedBox
  {
    margin-top: 30px;
  }

  .projectBox
  {
    min-height: 230px;
  }

  .vertical-positioning
  {
    top: 0%;
  }
}

/* Extra large devices (large desktops, >= 1200px) */
@media (min-width: 1200px)
{
    .menu
    {
       margin-top: 33px;
    }

    .logo
    {
      position: fixed;
      top: 0;
      float: left;
      font-size: 36px;
      margin: 16px 36px;
    }

    img
    {
      margin-top: -10px;
      margin-left: 100px;
    }

    .bubble div
    {
      height: 180px;
      width: 180px;
    }

    .bubble h3
    {
      font-size: 2.5em;
    }

    .bubble h3.top-padding
    {
      padding-top: 42px;
    }

    .bubble h3.top-padding-smff
    {
      padding-top: 63px;
    }

    .bubble h3.size
    {
      font-size: 2.1em;
    }

    .bubble h3.ASP
    {
      padding-top: 50px;
      font-size: 2.2em;
    }

    .whatIusedBox
    {
      margin-top: 180px;
    }

    .section-spacing
    {
      padding-top: 0px;
    }

    .project-col
    {
      display: table-cell;
      width: 33%;
    }

    .projectBox
    {
      min-height: 300px;
    }

    .gitlabBox
    {
      width: 40%;
      margin-bottom: default;
    }

    .vertical-positioning
    {
      top: 30%;
    }

    .footer
    {
      height: 40px;
      position: fixed;
      bottom: 0;
    }

    .footer-text
    {
      text-align: right;
      padding-right: 20px;
    }

    /* Scroll Snapping */
    .scroll-container
    {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
    }

    section
    {
      height: 100vh;
      scroll-snap-align: center;
    }
}

/*****************************************************************************/
